*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    background-color: #e3e3e3;
}

.title-instructions {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
}

.instructions {
    font-size: 1.5rem;
}

.numbers-container {
    display: flex;
    margin-bottom: 1.5rem;
}

.number {
    font-family: "Roboto";
    font-weight: 600;
    margin: 0 2rem;
    font-size: 2rem;
    border-radius: 50%;
    padding: 1rem;
    border: #233142 solid 4px;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-container {
    display: flex;
}

.btn {
    border: 4px black solid;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    color: #e3e3e3;
}

.btn-blue {
    background-color: #233142;
}

.btn-yellow {
    background-color: #455d7a;
}

.btn-red {
    background-color: #f95959;
}

.result-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 3rem;
}

.result {
    margin-right: 2rem;
    font-weight: 600;
}

.refresh {
    font-size: 2rem;
    border: 4px black solid;
    padding: 1rem;
    border-radius: 10px;
    display: none;
    cursor: pointer;
}