*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: chocolate;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80px;
    height: 50px;
    top: 5vh;
    left: 85vw;
    border-radius: 5px;
    background-color: cornflowerblue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}