*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.stripe {
    background-color: #ff6f3c;
    width: 10vw;
    height: 100vh;
}

.btn {
    user-select: none;
    border: 4px black solid;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: 600;
    cursor: pointer;
    transition: transform 1s;
}

.btn-blue {
    background-color: blue;
}

.btn-yellow {
    background-color: yellow;
}

.btn-red {
    background-color: red;
}